body {
  /*background-image: url(./gassyuku2018.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./gassyuku2016.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
}

header {
　position:fixed;
  background-color: rgba(255, 255, 255, 0.7);
}

a {
  color: #000;
  text-decoration:none;
}

h1.title {
  float: left;
  margin-left: 10px;
}

#nav {
  list-style: none;
  overflow: hidden;
  float: right;
}

#nav li {
  width: 140px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  display: block;
  color: #fff;
  font-weight: bold;
}

li a:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.bgc {
  position: relative;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}

.name {
  position: absolute;
  top: 30%;
  left: 50%;
  /*
  float: right;
  margin-right: 5%
  */
}

.menu {
  position: absolute;
  top: 60%;
  width: 96%;
  margin-left: 4%;
}

.menu-box {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 2px #000000;
  border-radius: 3px;
  width: 20%;
  margin-right: 4%;
  text-align: center;
}

.menu-box a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: .4s;
  font-size: 30px;
}

.menu-box:hover {
  background: #ffffff;
}

.box {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 2px #000000;
  border-radius: 3px;
}

.box a {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  color: #000000;
  transition: .4s;
  font-size: 30px;
}

.box:hover {
  background: #ffffff;
}

.schedule {
  padding: 20px;
  font-size: 30px;
}

.inquiry-title {
  position: absolute;
  margin-top: 5%;
  padding: 20px;
}

.inquiry {
  position: absolute;
  margin-top: 15%;
  padding: 20px;
  font-size: 25px;
}

.competition-title {
  text-align: center;
  height: 20vh;
}

.competition-margin {
  height: 10vh;
}

table {
  margin: 5%;
  width: 90%;
  border-collapse: collapse;
}

th,td {
    padding: 5px 10px;          /* 余白指定 */
}

th {
    background-color: rgba(0,0,0,0.5);  /* 背景色指定 */
    color: #fff;               /* 文字色指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
    position:  relative;        /* 位置指定 */
    z-index: 10;                /* 重なり調整 */
}

td {
    background-color: rgba(255, 255, 255, 0.7); /* 背景色指定 */
    padding-left: 25px;         /* 余白指定 */
}

.tr-1 {
    border-bottom: solid rgba(0, 0, 0, 0.3); /* 線指定 */
}

td h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
